.buttons-container {
  position: fixed;
  top: 90px;
  right: 15px;
  z-index: 9999;
  display: flex;

  .basic-button {
    color: #FFFFFF;
  }

  @include media-query($on-palm) {
    top: 100px;
    right: 0;
    width: 100%;
    z-index: 99;

    .apply-button, .donate-button {
      flex-basis: 50%;

      .basic-button {
        width: 100%;
        border-radius: 0;

        &:first-of-type {
          border-right: 1px solid white; 
        }
      }
    }
  }
}
