.about-images {
  position: relative;
  height: 380px;
  width: 380px;
  border-radius: 50%;
  margin: 0 auto;
  border: 5px solid $blue;
  overflow: hidden;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  margin: 10px auto 30px auto;

  img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
    object-fit: cover;

    &.active {
      z-index: 3;
    }
  }

  @include media-query($on-palm) {
    height: 200px;
    width: 200px;
  }
}



