.well.donate {

  .amount-form {

    .amount-field {
      display: flex;
      align-items: center;

      i {
        margin-right: 10px;
      }
    }
  }
  .confirmation {
    display: none;

    .confirmation-text {
      display: flex;
      align-items: center;
      justify-content: space-around;

      img {
        height: 200px;
      }
    }

    .confirmation-buttons {
      text-align: center;
    }
  }
}