.well.donate {

  .amount-form {

    h3 {
      text-align: center;
    }

    .amount-field {
      display: flex;
      align-items: center;

      i {
        margin-right: 10px;
      }
    }
  }
  .confirmation {
    display: none;

    .confirmation-text {
      text-align: center;

      img {
        height: 200px;
      }
    }

    .confirmation-buttons {
      margin: 0 auto;
      width: 50%;
      padding-top: 30px;
      padding-bottom: 10px;
      text-align: center;
    }
  }
}