<div class="page-wrapper">
  <div class="well apply">
    <h1>
      <div class="horizontal divider page-header">Apply</div>
    </h1>
    <div>
      <h3>Join us for our 2022 Mission to Mexico!</h3>
      <p>Bring joy to disabled and orphaned children or learn about hippotherapy and its benefit for disabled individuals.</p>
      <p>The mission fee is due by April 1, 2022.</p>
      <p>Please download the application and send it with deposit and other documents to:</p>
      <div class="address">
        <p>Children of Mexico International</p>
        <p>C/O Margarita Fajardo</p>
        <p>524 Hemlock Ave</p>
        <p>South San Francisco, CA 94080</p>
      </div>
      <div class="download">
        <a href="https://children-of-mexico.s3.us-west-1.amazonaws.com/COMI-2022-application.pdf">
          <img src="https://s3-us-west-1.amazonaws.com/children-of-mexico/application-icon.jpg" alt="2020 application">
          <i class='fa fa-3x fa-download' aria-hidden='true'></i>
          <div>Download Application</div>
        </a>
      </div>
    </div>
  </div>
</div>