<div class="user-message success">
  <div class="header">
    Thank you for your donation of $<%= donation.to_dollars %>.
  </div>
  <p>You will receive a confirmation at the email you provided.</p>
</div>