<div class="page-wrapper">
  <div class="well gallery">
    <h1>
      <div class="horizontal divider">Gallery</div>
    </h1>
    <div class="gallery-menu">
      <a class="item active" data-media-link="#photo">Photos</a>
      <a class="item" data-media-link="#video">Videos</a>
      <a class="item" data-media-link="#press">Press</a>
    </div>
    <div class="gallery-content">
      <%= render partial: "photos" %>
      <%= render partial: "videos" %>
      <%= render partial: "press" %>
    </div>
  </div>
</div>