<div class="footer">
  <div class="footer-items">
    <img src="https://s3-us-west-1.amazonaws.com/children-of-mexico/logo-horizontal.png" alt="">
    <div class="fb-button">
      <a class="basic-button primary" href="https://www.facebook.com/childrenofmex/" target="_blank">
        <p>Connect on Facebook</p>
        <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
      </a>
    </div>
  </div>

  <p>Children of Mexico International is a nonprofit, tax-exempt charitable organization under Section 501(c)(3) of the Internal Revenue Code.</p>
  <p>&copy;2016 Children of Mexico International. All rights reserved.</p>
  <p>Website by <a href="http://alookatommorow.github.io">John Hess</a></p>
</div>
